project:
  type: website
  output-dir: docs

website:
  title: "storm-zierden-portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: "About Me"

format:
  html:
    theme:
      - solar
      - brand
    css: styles.css
    toc: true

editor: visual

